<div class="content">
  <div class="xs-center">
    <date-picker
      [limitFrom]="limit.start"
      [limitTo]="limit.end"
      (setDate)="setRange($event)"
      locale="ru"
    ></date-picker>
  </div>

  <div>
    <p class="form-item">
      <label>Начальная дата:</label>
      <input
        type="date"
        [ngModel]="limit.start | date: 'yyyy-MM-dd'"
        (ngModelChange)="limit.start = $event"
      />
    </p>
    <p class="form-item">
      <label>Конечная дата:</label>
      <input
        type="date"
        [ngModel]="limit.end | date: 'yyyy-MM-dd'"
        (ngModelChange)="limit.end = $event"
      />
    </p>
  </div>

  <div>
    <div *ngIf="range.start || range.end; else noDates">
      <p>Выбран интервал дат:</p>
      <strong>{{ range.start | date: "yyyy.MM.dd" }}</strong> —
      <strong>{{ range.end | date: "yyyy.MM.dd" }}</strong>
    </div>
    <ng-template #noDates>
      <p>Даты не выбраны!</p>
    </ng-template>
  </div>
</div>
