* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}
input {
  font-size: inherit;
  font-family: inherit;
}
