.DataPicker {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  @media screen and (max-width: 576px) {
    padding: 2vw 5vw;
  }
  .MonthSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .RangeSelect {
    .week {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .day {
        display: inline-block;
        user-select: none;
        cursor: default;
        padding: 5px 10px;
        color: #ccc;
        @media screen and (max-width: 576px) {
          padding: 2.5vw 3vw;
        }
      }
      .current {
        color: #666;
      }
      .active {
        cursor: pointer;
        font-weight: 800;
        span {
          border-bottom: 1px solid #099;
        }
      }
      .range {
        cursor: pointer;
        background: #366;
        color: #fefefe;
      }
    }
  }
}

.btn {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  color: #999;
  &:hover {
    color: #333;
    background: #eee;
  }
  &-round {
    font-weight: bold;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}
